<a href="javascript:history.back()" class="btn btn-outline-primary mb-2">返回</a>
<hr>
<div class="card text-bg-dark text-center mt-5">
  <img src="" class="card-img" alt="...">
  <div class="card-img-overlay d-flex align-items-start flex-column">
    <h1 class="card-title">{{character.name}}</h1>
    <h4 class="card-text">{{character.year}}</h4>
    <h5 class="card-text"><small>{{character.description}}</small></h5>
  </div>
</div>

