<form action="/admin/characters" method="POST" enctype="multipart/form-data">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">新增角色</h1>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="name">機體名稱</label>
    <input class="form-control" type="text" name="name" id="name" placeholder="輸入名稱" required>
  </div>

  <div class="form-row mb-3">
    <label class="form-label" for="year">登場年份</label>
    <input class="form-control" type="text" name="year" id="year" placeholder="輸入年份">
  </div>

  <div class="form-row mb-3">
    <label class="form-label" for="avatarName">駕駛員名稱</label>
    <input class="form-control" type="text" name="avatarName" id="avatarName" placeholder="輸入駕駛員名稱">
  </div>

  <div class="form-row mb-3">
    <label class="form-label" for="description">簡介</label>
    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
  </div>

  <div class="form-row mb-3">
    <label class="form-label" for="avatar">駕駛員圖片</label>
    <input class="form-control" type="file" id="avatar" name="avatar">
  </div>

  <div class="form-row mb-3">
    <label class="form-label" for="image">機體圖片</label>
    <input class="form-control" type="file" id="image" name="image">
  </div>

  <button type="submit" class="btn btn-primary">確定</button>
  <a href="javascript:history.back()" class="btn btn-success mx-2">
    <i class="fas fa-undo-alt"></i>
    <span>返回</span>
  </a>
</form>