<div class="signup-container">
    <div class="signin-title text-center">註冊帳號</div>
    <form class="form-signup mt-3" action="/signup" method="POST" style="width: 100%;">
        <div class="form-label-groups mb-3">
            <label for="name">名稱</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="輸入名稱" value="{{name}}">
        </div>
        <div class="form-label-groups mb-3">
            <label for="email">信箱</label>
            <input type="text" name="email" id="email" class="form-control" placeholder="輸入信箱" value="{{email}}">
        </div>
        <div class="form-label-groups mb-3">
            <label for="password">密碼</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="輸入密碼"
                value="{{password}}">
        </div>
        <div class="form-label-groups mb-3">
            <label for="chekPassword">確認密碼</label>
            <input type="password" name="checkPassword" id="checkPassword" class="form-control" placeholder="輸入確認密碼">
        </div>
        <div class="button-wrapper d-flex justify-content-center">
        <button class="signup-button" type="submit">註冊</button>
        </div>
        <div class="button-wrapper d-flex justify-content-center">
            <a class="signin-back-button" href="/signin">登入</a>
        </div>
    </form>
</div>