<div class="text-center">
    <h1>登入</h1>
</div>
<form class="form-signin mt-3" action="/signin" method="POST" style="width: 100%,">
<div class="form-label-group mb-3">
    <input type="text" name="email" id="email" class="form-control" placeholder="信箱">
</div>
<div class="form-label-group">
    <input type="password" name="password" id="password" class="form-control" placeholder="密碼">
</div>
<br>
<button class="signin-button btn btn-primary" type="submit">登入</button>
<div class="text-center">
    <a href="/signup">註冊帳號</a>
</div>
</form>