html,
body {
    background-image: url(https://tk.ismcdn.jp/mwimgs/b/4/1200w/img_b4640e640ac9a29727bccb651bc42c91268208.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-signin {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;
    color: whitesmoke;
}

.signin-title {
    font-size: 40px;
    font-weight: bold;
    color: whitesmoke;
}

.signin-button {
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    background: linear-gradient(45deg, #0D6EFD, whitesmoke);
    border-radius: 15px;
    border: none;
}

.signin-button:hover {
    transform: scale(1.05);
}

.signin-button:active {
    transform: scale(1);
}

.signup-button {
    display: flex;
    justify-content: center;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    background: linear-gradient(45deg, red, whitesmoke);
    border-radius: 15px;
    border: none;
    text-decoration: none;
    margin-top: 10px;
    padding: 2px;
}

.signup-button:hover {
    transform: scale(1.05);
    color: whitesmoke;
}

.signup-button:active {
    transform: scale(1);
}

.fa-facebook-square {
    color: #0D6EFD;
}

.signin-facebook {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    background: linear-gradient(45deg, darkgray, whitesmoke);
    border-radius: 15px;
    padding: 2px 7px 2px 7px;
}

.signin-facebook:hover {
    transform: scale(1.05);
}

.signin-facebook:active {
    transform: scale(1);
}

.form-signup {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;
    color: whitesmoke;
}

.signin-back-button {
    display: flex;
    justify-content: center;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    background: linear-gradient(45deg, #0D6EFD, whitesmoke);
    border-radius: 15px;
    text-decoration: none;
    margin-top: 10px;
    padding: 2px;
}

.signin-back-button:hover {
    transform: scale(1.05);
    color: whitesmoke;
}

.signin-back-button:active {
    transform: scale(1);
}

#header-bg {
    background: linear-gradient(45deg, lightskyblue, gainsboro);
}

@media screen and (max-width: 990px) {
    .search-bar {
        margin: 10px 0px 10px 0px;
    }
}

#search-input {
    background: whitesmoke;
    font-weight: bold;
}

.card {
    border: none;
    background: none;
}

.img-fluid {
    height: 500px;
    width: 900px;
    border-radius: 13px;
}

.card-title-ch {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    font-size: 50px;
    font-weight: bold;
    color: whitesmoke;
}

hr {
    color: whitesmoke;
    border: 2px solid;
}

.avatar-name {
    font-size: 40px;
    font-weight: bold;
}

@media screen and (min-width: 360px) {
    .section {
        display: flex;
        flex-flow: row nowrap;
    }

    .avatar-img {
        height: 300px;
        width: 40%;
        border-radius: 20px;
        object-fit: cover;
    }

    .card-text {
        width: 60%;
        flex-grow: 1;
        font-size: 20px;
        font-weight: bold;
        margin-top: 5%;
        margin-left: 5%;
        color: whitesmoke;
    }

    .ch-back {
        font-size: 18px;
        font-weight: bold;
        background: linear-gradient(-45deg, silver, whitesmoke);
        text-decoration: none;
        color: black;
        border-radius: 10px;
        padding: 0 15px 0 15px;
    }

    .ch-back:hover {
        color: black;
        transform: scale(1.05);
    }

    .ch-back:active {
        transform: scale(1)
    }
}

.chs-title {
    font-size: 30px;
    font-weight: bold;
    color: gainsboro;
}

@media screen and (max-width: 990px) {
    .chs-container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.chs-row {
    display: flex;
    flex-wrap: wrap;
}

#chs-card {
    display: inline-block;
    font-size: 18px;
    width: 270px;
    height: auto;
    margin-left: 3%;
    padding: 0%;
    border-radius: 20px;
    background: gainsboro;
}

.img-body {
    height: 285px;
    overflow: hidden;
    border-radius: 18px 18px 0px 0px;
}

.img-body img {
    height: 230px;
    border-bottom: 2px solid silver;
    transform: scale(1.0);
    transition-duration: 1000ms;
}

.img-body img:hover {
    transform: scale(1.2, 1.2);
}

.chs-avatar-img {
    position: absolute;
    width: 180px;
    height: 170px;
    left: 50px;
    top: 130px;
    border-radius: 50%;
    border: 2px solid silver;
    background-size: cover;
    object-fit: cover;
}

#chs-body {
    font-size: 18px;
    font-weight: bold;
}

#category-toggler {
    width: 1000px;
    background: linear-gradient(45deg, lightskyblue, gainsboro);
}

#chs-category {
    border: 2px solid silver;
    border-radius: 6.5px;
    margin-right: 0.3%;
    margin-top: 0.5%;
    font-size: 18px;
    font-weight: bold;
}

#chs-category a:hover {
    color: whitesmoke;
    background-color: lightskyblue;
}

.nav-link {
    color: lightskyblue;
}

.nav-pills .nav-link.active {
    background-color: lightskyblue;
}

.category-save {
    background: linear-gradient(45deg, #198754, whitesmoke);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.category-save:hover {
    transform: scale(1.05);
}

.category-save:active {
    transform: scale(1);
}

#category-delete {
    border: 2px solid silver;
    border-radius: 6.5px;
    margin-right: 0.3%;
    margin-top: 0.5%;
    font-size: 18px;
    font-weight: bold;
}

#category-delete button:hover {
    background-color: red;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.page-item {
    border: 2px solid silver;
    border-radius: 6.5px;
    margin-left: 6px;
    height: 43px;
    font-size: 18px;
    font-weight: bold;
}

.page-item a:hover {
    color: whitesmoke;
    background-color: lightskyblue;
}

.page-link {
    border: 0;
    background-color: transparent;
    color: lightskyblue;
}

.page-item.active .page-link {
    background-color: lightskyblue;
}

.page-number {
    display: flex;
    margin-right: 2.5%;
}


.nav-tabs {
    border-bottom: 2px solid silver;
}

.nav-tabs .nav-link.active {
    color: whitesmoke;
    background-color: lightskyblue;
    border: 1px solid silver;
}

#ch-tabs {
    font-size: 18px;
    font-weight: bold;
}

#ch-tabs a:hover {
    color: whitesmoke;
    background-color: lightskyblue;
}

.like-button {
    position: absolute;
    top: 10px;
    left: 220px;
    font-size: 26px;
    border: none;
    color: dimgray;
    background: transparent;
}

#btn-heart:hover {
    color: red;
    opacity: 0.7;
}

.unlike-button {
    position: absolute;
    top: 10px;
    left: 220px;
    font-size: 26px;
    border: none;
    color: red;
    opacity: 0.9;
    background: transparent;
}

@media screen and (max-width: 770px) {
    .edit-profile {
        display: flex;
        justify-content: end;
    }

    .profile-body {
        padding-left: 70px;
    }

    .profile-avatar {
        padding-left: 70px;
    }
}

.profile-card {
    max-width: 1200px;
}

#avatar-profile {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 10px 10px 10px 15px;
}

.profile-body {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: whitesmoke;
}

#profile {
    background: linear-gradient(45deg, lightskyblue, gainsboro);
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

#profile:hover {
    transform: scale(1.05);
    color: whitesmoke;
}

#profile:active {
    transform: scale(1);
}

.user-avatar {
    position: relative;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
}

.hide {
    display: none;
}

#current-avatar {
    height: 200px;
    width: 300px;
    opacity: 0.9;
}

#avatar-preview {
    height: 200px;
    width: 300px;
    opacity: 0.6;
    margin-bottom: 5px;
}

#avatar-wrapper {
    position: relative;
}

.fa-camera {
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 20px;
    opacity: 0.8;
}

.fa-camera:hover {
    color: gainsboro;
    cursor: pointer;
}

.fa-camera.on-avatar {
    position: absolute;
    top: 210px;
    left: 275px;
}

#delete-btn {
    position: absolute;
    top: 30px;
    left: 280px;
}

.profile-save {
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(45deg, lightskyblue, gainsboro);
    border-radius: 10px;
}

.profile-save:hover {
    transform: scale(1.05);
}

.profile-save:active {
    transform: scale(1);
}

.modal-header {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid silver;
    background: linear-gradient(-90deg, lightskyblue, gainsboro);
}

.modal-body {
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(-90deg, lightskyblue, gainsboro);
}

.modal-footer {
    border-top: 2px solid silver;
}

.create-body {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border: 2px solid gainsboro;
    border-radius: 10px;
    background: linear-gradient(-90deg, lightskyblue, gainsboro);
}

.create-title {
    font-size: 36px;
    font-weight: bold;
    color: whitesmoke;
}

.create-sumbit {
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(-45deg, #0D6EFD, whitesmoke);
    border-radius: 10px;
    border: none;
    padding: 0 15px 0 15px;
}

.create-sumbit:hover {
    transform: scale(1.05);
}

.create-sumbit:active {
    transform: scale(1);
}

.create-back {
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(-45deg, #198754, whitesmoke);
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 0 15px 0 15px;
}

.create-back:hover {
    transform: scale(1.05);
    color: black;
}

.create-back:active {
    transform: scale(1);
}

#image-preview {
    height: 200px;
    width: 300px;
    opacity: 0.6;
    margin-bottom: 5px;
}

.edit-modal {
    cursor: pointer;
    background: linear-gradient(-45deg, #0D6EFD, whitesmoke);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px 0 20px;
}

.edit-modal:hover {
    transform: scale(1.05);
    color: white;
}

.edit-modal:active {
    transform: scale(1);
}

.chs-delete {
    background: linear-gradient(-45deg, red, whitesmoke);
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0 15px 0 15px;
}

.chs-delete:hover {
    transform: scale(1.05);
    color: white;
}

.chs-delete:active {
    transform: scale(1);
}

.edit-img {
    height: 250px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    border: 2px solid silver;
}

#edit-image-preview {
    height: 250px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    border: 2px solid silver;
    opacity: 0.6;
}

#edit-delete-img-btn {
    position: absolute;
    top: 30px;
    right: 30px;
}

.edit-avatar {
    position: absolute;
    width: 45%;
    height: 100px;
    right: 10px;
    top: 200px;
    border-radius: 20px;
    border: 2px solid silver;
    object-fit: cover;
    object-position: 100% 25%;
}

#edit-avatar-preview {
    position: absolute;
    width: 45%;
    height: 100px;
    right: 10px;
    top: 200px;
    border-radius: 20px;
    border: 2px solid silver;
    object-fit: cover;
    object-position: 100% 25%;
    opacity: 0.7;
}

.edit-save {
    background: linear-gradient(-45deg, lightskyblue, whitesmoke);
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0 15px 0 15px;
}

.edit-save:hover {
    transform: scale(1.05);
}

.edit-save:active {
    transform: scale(1);
}

.badge {
    background: linear-gradient(45deg, silver, whitesmoke);
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fa-file-alt {
    font-size: 350px;
    color: whitesmoke;
    opacity: 0.2;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fa-search-minus {
    font-size: 300px;
    color: whitesmoke;
    opacity: 0.2;
    text-align: center;
    margin: 20px auto 20px auto;
}

.reminder-sign {
    font-size: 24px;
    font-weight: bold;
    color: black;
    background: linear-gradient(45deg, silver, whitesmoke);
    border-radius: 10px;
    padding: 0 20px 0 20px;
}

.chs-reminder-sign {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    background: linear-gradient(45deg, silver, whitesmoke);
    border-radius: 10px;
    padding: 0 20px 0 20px;
}

.search-reminder {
    font-size: 24px;
    font-weight: bold;
    color: black;
    background: linear-gradient(45deg, silver, whitesmoke);
    border-radius: 10px;
    padding: 0 20px 0 20px;
}