html,
body {
    background-image: url(https://tk.ismcdn.jp/mwimgs/b/4/1200w/img_b4640e640ac9a29727bccb651bc42c91268208.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#ch-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.card {
    margin-top: 6%;
    height: 600px;
    border: 2px solid burlywood;
}

.img-fluid {
    height: 596px;
    width: 600px;
    border-radius: 13px;
}

.card-title-ch {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    font-size: 50px;
    font-weight: bold;
}

hr {
    color: burlywood;
    border: 2px solid;
}

.avatar-name {
    font-size: 40px;
    font-weight: bold;
}

@media screen and (min-width: 360px) {
    .section {
        display: flex;
        flex-flow: row nowrap;
    }

    .avatar-img {
        height: 300px;
        width: 40%;
        border-radius: 50%;
    }

    .card-text {
        width: 60%;
        flex-grow: 1;
        font-size: 20px;
        font-weight: bold;
        margin-top: 5%;
        margin-left: 5%;
    }
}

.chs-title {
    font-size: 30px;
    font-weight: bold;
    color: burlywood;
}

.chs-row {
    display: flex;
    flex-wrap: wrap;
}

#chs-card {
    display: inline-block;
    font-size: 18px;
    width: 270px;
    height: auto;
    margin-left: 3%;
    padding: 0%;
    border-radius: 20px;
    background: gainsboro;
}

.img-body {
    height: 285px;
    overflow: hidden;
    border-radius: 18px 18px 0px 0px;
}

.img-body img {
    height: 230px;
    border-bottom: 2px solid silver;
    transform: scale(1.0);
    transition-duration: 1000ms;
}

.img-body img:hover {
    transform: scale(1.2, 1.2);
}

.chs-avatar-img {
    position: absolute;
    width: 180px;
    height: 170px;
    left: 50px;
    top: 130px;
    border-radius: 50%;
    border: 2px solid silver;
    background-size: cover;
    object-fit: cover;
}

#chs-body {
    font-size: 18px;
    font-weight: bold;
}

#chs-category {
    border: 2px solid silver;
    border-radius: 6.5px;
    margin-right: 0.3%;
    margin-top: 0.5%;
    font-size: 18px;
    font-weight: bold;
}

#chs-category a:hover {
    color: whitesmoke;
    background-color: lightskyblue;
}

.nav-link {
    color: lightskyblue;
}

.nav-pills .nav-link.active {
    background-color: lightskyblue;
}

#category-delete {
    border: 2px solid silver;
    border-radius: 6.5px;
    margin-right: 0.3%;
    margin-top: 0.5%;
    font-size: 18px;
    font-weight: bold;
}

#category-delete button:hover {
    background-color: red;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.page-item {
    border: 2px solid silver;
    border-radius: 6.5px;
    margin-left: 6px;
    height: 43px;
    font-size: 18px;
    font-weight: bold;
}

.page-item a:hover {
    color: whitesmoke;
    background-color: lightskyblue;
}

.page-link {
    border: 0;
    background-color: transparent;
    color: lightskyblue;
}

.page-item.active .page-link {
    background-color: lightskyblue;
}

.page-number {
    display: flex;
    margin-right: 2.5%;
}


.nav-tabs {
    border-bottom: 2px solid silver;
}

.nav-tabs .nav-link.active {
    color: whitesmoke;
    background-color: lightskyblue;
    border: 1px solid silver;
}

#ch-tabs {
    font-size: 18px;
    font-weight: bold;
}

#ch-tabs a:hover {
    color: whitesmoke;
    background-color: lightskyblue;
}

.like-button {
    position: absolute;
    top: 10px;
    left: 220px;
    font-size: 26px;
    border: 0;
    color: dimgray;
    background: transparent;
}